volumes:
  WordPress:
    name: WordPress
    driver_opts:
      type: none
      o: bind
      device: ~/data/WordPress/

  DB:
    name: DB
    driver_opts:
      type: none
      o: bind
      device: ~/data/DB/


networks:
  nxwp:
  wpmdb:

services:
  nginx:
    image: nginx
    container_name: nginx
    depends_on:
      - wordpress
    build: requirements/nginx/
    restart: always
    ports:
      - "443:443"
    networks:
      - nxwp
    volumes:
      - WordPress:/var/www/html/
  
  wordpress:
    image: wordpress
    container_name: wordpress
    depends_on: 
      - mariadb
    build: requirements/wordpress/
    env_file:
      - .env
    networks:
      - nxwp
      - wpmdb
    volumes:
      - WordPress:/var/www/html/
    restart: always

  mariadb:
    image: mariadb
    container_name: mariadb
    build: requirements/mariadb
    env_file:
      - .env
    networks:
      - wpmdb
    volumes:
      - DB:/var/lib/mysql/
    restart: always
    

    
