#   DB:
#     name: DB
#     driver_opts:
#       type: none
#       o: bind;
#       device: ~/data/DB

  WordPress:
    name: DB
    driver_opts:
      type: none
      o: bind;
      device: /home/debian/data/WordPress/


networks:
  nginxwordpress:
#   wordpressmariadb:

services:
  nginx:
    image: nginx
    container_name: nginx
    build: requirements/nginx/
    restart: always
    ports:
      - "443:443"
    networks:
      - nginxwordpress
    volumes:
      - WordPress:/var/www/html/
    depends_on:
      - wordpress
  
  wordpress:
    image: wordpress
    container_name: wordpress
    build: requirements/wordpress/
    env_file:
      - .env
    networks:
      - nginxwordpress
    volumes:
      - WordPress:/var/www/html/
    # depends_on: 
    #   - mariadb
  #   #   - wordpressmariadb
  #   restart: always
    
