volumes:
  WordPress:
    name: WordPress
    driver_opts:
      type: none
      o: bind
      device: tmp/sde-quai/data/WordPress

#   DB:
#     name: DB
#     driver_opts:
#       type: none
#       o: bind;
#       device: /home/sde-quai/data/DB


networks:
  nginxwordpress:
#   wordpressmariadb:

services:
  nginx:
    image: nginx
    container_name: nginx
    build: requirements/nginx/
    restart: always
    ports:
      - "443:443"
    # networks:
    #   - nginxwordpress
    volumes:
      - WordPress:tmp/sde-quai/data/WordPress
    depends_on:
      - wordpress
  
  wordpress:
    image: wordpress
    container_name: wordpress
    build: requirements/wordpress/
    env_file:
      - .env
    # depends_on: 
    #   - mariadb
    networks:
      - nginxwordpress
  #   #   - wordpressmariadb
  #   restart: always
  #   # volumes:
  #   #   - WordPress:home/sde-quai/data/WordPress
